:root {
  --color-bg: #848c8eff;
  --color-bg-secondary: #435058ff;
  --color-bg-dark: rgb(42, 42, 42);
  --color-text-secondary: #bfb7b6ff;
  --color-text: #f1f2eeff;
  --color-alt: #dcf763ff;
  --color-alt-secondary: #DCF725;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text);
  background-color: var(--color-bg-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: var(--color-alt);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-alt-secondary);
}

ul {
  margin-bottom: 4rem;
}

li {
  margin-bottom: 2rem;
  font-size: 1.6rem;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  margin: 0 0 4rem;
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-bg);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--color-alt-secondary);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
pre {
  font-size: 1rem !important;
  margin-top: 1rem !important;
}
